body{
	margin: 0;
	font-family: 'Press Start 2P', cursive;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}